<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="categories.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-list-alt"></i>
        <span>Categories</span>
    </a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="categories.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-list-alt"></i>
        <span>Categories</span>
    </a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="categories.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-list-alt"></i>
        <span>Categories</span>
    </a>
</li>

<li class="nav-item channel-sidebar-list">
    <h6>SUBSCRIPTIONS</h6>
    <ul>
        <li>
            <a href="subscriptions.html">
                <img class="img-fluid" alt="" src=""> SUBSCRIPTIONS
            </a>
        </li>
        <li>
            <a href="subscriptions.html">
                <img class="img-fluid" alt="" src=""> SUBSCRIPTIONS
            </a>
        </li>
        <li>
            <a href="subscriptions.html">
                <img class="img-fluid" alt="" src=""> SUBSCRIPTIONS
            </a>
        </li>
    </ul>
</li>